<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">
		<!-- true defaults <form-login/> -->

		<intercept-url pattern="/cars" access="hasAnyRole('ROLE_ADMIN')" />
		<intercept-url pattern="/cars/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/addCar.html" access="hasRole('ROLE_ADMIN')" />
		<csrf disabled="true"/>
		<form-login login-page="/login.jsp" authentication-failure-url="/login.jsp"
			always-use-default-target="true" default-target-url="/cars" />
			<logout logout-success-url="/login.jsp" delete-cookies="JSESSIONID" invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="bimarsh" password="bimarsh" authorities="ROLE_ADMIN" />
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
				<user name="user" password="user" authorities="ROLE_USER" />
			</user-service>

		</authentication-provider>
	</authentication-manager>
	
<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<beans:property name="url" value="jdbc:mysql://localhost:3306/springsecurity"/>
		<beans:property name="username" value="root"/>
		<beans:property name="password" value="puppets"/>
	</beans:bean>
</beans:beans>